.bg-none {
  background-image: none;
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, #f9fafb, rgba(249, 250, 251, 0));
}

.bg-gradient-to-tr {
  background-image: linear-gradient(
    to top right,
    #f9fafb,
    rgba(249, 250, 251, 0)
  );
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, #f9fafb, rgba(249, 250, 251, 0));
}

.bg-gradient-to-br {
  background-image: linear-gradient(
    to bottom right,
    #f9fafb,
    rgba(249, 250, 251, 0)
  );
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, #f9fafb, rgba(249, 250, 251, 0));
}

.bg-gradient-to-bl {
  background-image: linear-gradient(
    to bottom left,
    #f9fafb,
    rgba(249, 250, 251, 0)
  );
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, #f9fafb, rgba(249, 250, 251, 0));
}

.bg-gradient-to-tl {
  background-image: linear-gradient(
    to top left,
    #f9fafb,
    rgba(249, 250, 251, 0)
  );
}
