.shadow-sm {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.shadow {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.shadow-md {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.shadow-lg {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.shadow-xl {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.shadow-2xl {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.shadow-inner {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.shadow-none {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}
