.ring-0 {
  box-shadow: 0 0 0 calc(0px + 0) rgba(59, 130, 246, 0.5);
}

.ring-1 {
  box-shadow: 0 0 0 calc(1px + 0) rgba(59, 130, 246, 0.5);
}

.ring-2 {
  box-shadow: 0 0 0 calc(2px + 0) rgba(59, 130, 246, 0.5);
}

.ring {
  box-shadow: 0 0 0 calc(3px + 0) rgba(59, 130, 246, 0.5);
}

.ring-4 {
  box-shadow: 0 0 0 calc(4px + 0) rgba(59, 130, 246, 0.5);
}

.ring-8 {
  box-shadow: 0 0 0 calc(8px + 0) rgba(59, 130, 246, 0.5);
}
