.transform {
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(0)
    scaleY(0);
}

.transform-gpu {
  transform: translate3d(0, 0, 0) rotate(0) skewX(0) skewY(0) scaleX(0)
    scaleY(0);
}

.transform-none {
  transform: none;
}
