.transform {
  transform: translateX(1) translateY(1) rotate(1) skewX(1) skewY(1) scaleX(1)
    scaleY(1);
}

.transform-gpu {
  transform: translate3d(1, 1, 0) rotate(1) skewX(1) skewY(1) scaleX(1)
    scaleY(1);
}

.transform-none {
  transform: none;
}
